<nav id="taxonomies" class="sidebar-item" data-hook>
    <h6 class='taxonomy-root'><%= t(:shop_by_taxonomy, :taxonomy => "Neumaticos") %></h6>
    <ul class="taxons-list">
      <% Spree::Taxon.where(:parent_id => 3).each do |taxon| %>
        <li class="category"><%= link_to taxon.name, seo_url(taxon)  %></li>
      <% end %>
    </ul>
    <%#= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>

  <h6 class='taxonomy-root'><%= t(:shop_by_taxonomy, :taxonomy => "Marca") %></h6>
  <div style="padding-left:20px;padding-top:15px;">
    <%= select_tag "marcas", options_from_collection_for_select(Spree::Taxon.where(:parent_id => 2), "id", "name") %>
  </div>
  <h6 class='taxonomy-root' style="margin-top:50px;">Ultimas Noticias</h6>
  <div class="row" id="news">
    <%= render :partial => "spree/shared/news" %>
  </div>
  <h6 class='taxonomy-root' style="margin-top:50px;">Equivalencias</h6>
  <div class="row" id="calc">
    <%= render :partial => 'spree/shared/calculadora' %>
  </div>
</nav>
