<%= label_tag "Europeo", nil %>
<%= radio_button_tag 'calc', nil, true %>
<%= label_tag "Americano", nil %>
<%= radio_button_tag 'calc', nil %>
<br />
<%= select_tag :tire_width_id, options_for_select([[t(:width), '']] +
                Spree::TireWidth.order('name').map {|t| [t.name, t.id]},
                @width ? @width.id : params[:tire_width_id]) %>
<%= select_tag :tire_serial_id, options_for_select([[t(:serial), '']] +
                Spree::TireSerial.order('name').map {|t| [t.name, t.id]},
                @serial ? @serial.id : params[:tire_serial_id]) %>
<%= select_tag :tire_innertube_id, options_for_select([[t(:innertube), '']] +
                Spree::TireInnertube.order('name').map {|t| [t.name, t.id]},
                @innertube ? @innertube.id : params[:tire_innertube_id]) %>
<br />
<div id="resultado">
  <h3>Resultado Final</h3>
</div>
<%= link_to 'Disponibles en tienda', "#"  %>
