<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% end %>
<% if products.any? %>
  <% products.each do |product| -%>
    <div class="oferta">
      <%= link_to product_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
      <div class="texto_oferta">
        <h3>OFERTA ESPECIAL</h3>
        <h4><%= product.taxons.where(:parent_id => 2).first.name %></h4>
        <h3><%= product.calculate_tires(product.id) %></h3>
        <p class="precio_oferta">
          <% if (product.price - product.price_in_offert) < 0 %>
            <span class="price selling" style="color:red">
            <%= product.display_price %></span>
            <span class="price selling" itemprop="price" style="text-decoration: line-through;">
            <%= product.display_price_in_offert %>
          <% else %>
            <span class="price selling" itemprop="price">
            <%= product.display_price %>
            </span>
          <% end %>
        </p>
        <p class="iva_oferta">I.V.A. Incluído</p>
      </div>
    </div>
  <% end -%>
<% end -%>


<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
